{% extends 'babybuddy/page.html' %}
{% load breadcrumb cards i18n %}
{% block title %}
    {% trans "Dashboard" %} - {{ object }}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:child-list' %}">{% trans "Children" %}</a>
    </li>
    <li class="breadcrumb-item fw-bold">{% child_quick_switch object 'dashboard:dashboard-child' %}</li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Dashboard" %}</li>
{% endblock %}
{% block content %}
    <div id="dashboard-child"
         class="row"
         data-masonry='{"percentPosition": true }'>
        {% dashboard_card_order as card_keys %}
        {% for key in card_keys %}
            <div class="col-sm-6 col-lg-4">{% include "cards/_dispatch.html" with key=key %}</div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascript %}
    {% if user.settings.dashboard_refresh_rate %}
        <script type="application/javascript">
            BabyBuddy.Dashboard.watch('dashboard-child', {{ user.settings.dashboard_refresh_rate_milliseconds }});
        </script>
    {% else %}
        <script type="application/javascript">BabyBuddy.Dashboard.watch('dashboard-child', false);</script>
    {% endif %}
{% endblock %}
