{% extends "cards/base.html" %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:feeding-list" %}">{% trans "Recent Feedings" %}</a>
{% endblock %}
{% block title %}
    {% if not empty %}
        {{ feedings.0.total|floatformat }}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if not empty %}
        <div class="small">
            {% blocktrans trimmed count counter=feedings.0.count %}
                {{ counter }} feeding today
            {% plural %}
                {{ counter }} feedings today
            {% endblocktrans %}
        </div>
        {% include "cards/_bar_chart.html" %}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
