{% extends "cards/base.html" %}
{% load duration i18n %}
{% block header %}
    <a href="{% url "core:pumping-list" %}">{% trans "Recent Pumping" %}</a>
{% endblock %}
{% block title %}
    {% if not empty %}
        {{ pumpings.0.total|floatformat }}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if not empty %}
        <div class="small">
            {% blocktrans trimmed count counter=pumpings.0.count %}
                {{ counter }} pumping today
            {% plural %}
                {{ counter }} pumpings today
            {% endblocktrans %}
        </div>
        {% include "cards/_bar_chart.html" %}
    {% else %}
        {% trans "None" %}
    {% endif %}
{% endblock %}
